
.form-outline .form-control {
    color: var(--mdb-surface-color);
}

.Preffered-Action .Option {
    margin: 5px;
    padding: 15px;
    /* border-color: white; */
    /* border-width: 2px;
    border-style: solid;
    border-radius: 10px; */
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: xx-large;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    /* color: hsl(220, 60%, 2%); */
}

.join {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 10px;
}

#join-button {
    margin-left: 5px
}

#create-btn {
    width: 100%;
}

#create-design {
    width: 50%;
}
#alert {
    margin-bottom: 5px;
}

.kick-button {
    margin-right: 30px;
    padding: 4px;
    padding-top: 1px;
    margin-top: 4px;
    height: 19px;
}
.message-box {
    /* border-color: black; */
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    /* background-color: whitesmoke; */
    height: 80vh;
    display: flex;
    flex-direction: column;
    width: 80vh;
    align-items: stretch;
}

.messages {
    overflow-y: scroll;
    flex: 1;
    width: 100%;
}

.admin-user-hub {
    margin-bottom: 15px;
}
.inputs {
    padding: 10px;
    display: flex;
}
.user {
    margin-top: -15px;
}

h2 {
    text-align: center;
}
.admin-function {
    margin-top: -10px;
}
#message {
    flex: 1;
}

.text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.muted {
    font-size: 10px;
    /* color: darkgray; */
}

.center {
    text-align: center;
    /* color: white; */
}
.admin-user {
    text-align: start;
}
.admin-score {
    text-align: end;
}


#admin-commit {
    margin-top: 10px;
    margin-bottom: 20px;
}

.room-code {
    margin-bottom: 50px;
}

.quiz-control {
    margin-bottom: 20px;
}

#alert-admin {
    margin-top: -25px;
    margin-bottom: 20px;
}

.quiz-button {
    margin-bottom: 20px;
}

.question {
    margin-bottom: 50px;
}

#timer {
    font-size: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
}