{% extends 'base.html' %}

{% block content %}
<!--<form method="post" class="create-questions center"> -->
<div>
    <div class="room-code">
        <h3>Admincode: {{admincode}}</h3>
        <h3>Roomcode: {{usercode}}</h3>
        <h3>Dashboardcode: {{dashboardcode}}</h3>
    </div>

    <div id="error-Container">
        {% if error %}
        <div class="card text-bg-danger text-center" id="alert-admin">
            <div class="card-body">
                <h5 class="card-title" id="error">{{error}}</h5>
            </div>
        </div>
        {% endif %}
    </div>

    <div class="quiz-control">
        <p>
            Current question: <br>
        <div id="currentquestion"></div>
        </p>
        <div class='control'>
            <button class="btn btn-primary" id="button-prev" name="previous" onclick="previous()">&laquo;</button>
            <button class="btn btn-primary" id="results" name="results" onclick="results()">Ergebnis</button>
            <button class="btn btn-primary" id="button-next" name="next" onclick="next()">&raquo;</button>
        </div>
    </div>

    <div class="edit-questions" style="text-align: center;">
        <div class="form-outline" data-mdb-input-init>
            <textarea class="form-control" name="questions" id="edit-questions" rows="2">{{questions}}</textarea>
            <label class="form-label" for="edit-questions">Fragen bearbeiten</label>
        </div>
        <button class="btn btn-primary" name="commit" id="admin-commit" onclick="adminCommit()">Übernehmen</button>
    </div>

    <div class="connected-users center">
        <h2 class="admin-user-hub">User im Raum</h2>
        <div class="users" id="users">
            {% for user in users %}
            <div class="user" id="{{user.name}}">
                <div class="d-flex p-2  justify-content-between">
                    <strong class="admin-user">{{user.name}}</strong>
                    <div class="justify-content-between">
                        <button class="kick-button btn btn-danger" name="kick" onClick="kickUser(user.name)"
                            value="{{user.name}}">Kick</button>
                        <div class="admin-score">Punkte: {{user.score}}</div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- JavaScript dies das -->
<script type="text/javascript">
    var socketio = io();

    const users = document.getElementById("users")
    let ranking;
    let questionCount = 0;
    let currentquestion;

    const DisplayUser = (name, score) => {
        const content = `
            <div class="user" id="${name}" nodeValue="${score}">
                <div class="d-flex p-2  justify-content-between">
                    <strong class="admin-user">${name}</strong>
                  <div class="d-flex p-2  justify-content-between admin-function">
                        <button class="kick-button btn btn-danger" name="kick" onClick="kickUser(${name})" value="${name}">Kick</button>
                        <div class="admin-score">Punkte: ${score}</div>
                    <div> 
                </div>
            </div>
        `;
        users.innerHTML += content;
    };
    const showResult = () => {
        socketio.emit("userKick", {data: user.id});
    }

    const setError = (errormsg) => {
        const errorfield = document.getElementById("error");

        if (errorfield != null) {
            errorfield.innerHTML = errormsg;
            return;
        }

        document.getElementById("error-Container").innerHTML = `
            <div class="card text-bg-danger text-center" id="alert-admin">
                <div class="card-body">
                    <h5 class="card-title" id="error">${errormsg}</h5>
                </div>
            </div>
            `;
    }

    /////////////////////////////////////////////////////////////

    const UpdateQuestion = (curr, questions) => {
        document.getElementById("currentquestion").innerHTML = curr;

        document.getElementById("edit-questions").innerHTML = questions;
    }

    const results = () => {
        socketio.emit("results", {data: true});
    };

    const RemoveUser = (name) => {
        document.getElementById(name).remove();
    };

    const previous = () => {
        if (questionCount > 0) {
            questionCount--
            document.getElementById("currentquestion").innerHTML = JSON.parse(currentquestion)[questionCount].text;
            socketio.emit("previous", {data: true});
            console.log(JsonQuestion)
            socketio.emit("result-questions", JsonQuestion())
        } else {alert("No Questions")}
    };

    const next = () => {
        questionCount++
        if (questionCount < JSON.parse(currentquestion).length) {
            document.getElementById("currentquestion").innerHTML = JSON.parse(currentquestion)[questionCount].text;
            socketio.emit("next", {data: true});
            socketio.emit("result-questions", JsonQuestion())
        } else {
            alert("This was the last question")
            questionCount--

        }
    };

    


    const JsonQuestion = () => {
        questions = currentquestion
        return JSON.parse(questions)[questionCount]
    }


    const questionValue = () => {
        currentquestion = document.getElementById("edit-questions").value
        return currentquestion
    }

    const adminCommit = () => {
        questions = questionValue()
        socketio.emit("commit", {data: {questions: questions}});
        document.getElementById("currentquestion").innerHTML = JSON.parse(currentquestion)[0].text;
        questionCount = 0;
        alert("Commit Sent");
    }

    /// STUPID SHIT I STARTED ps .j
    const kickUser = (user) => {
        socketio.emit("userKick", {data: user.id});
        RemoveUser(data.name);
    };

    ///////////////////////////////////////////////////////////// Sockets


    socketio.on("error", (data) => {
        setError(data);
    });

    socketio.on("userJoin", (data) => {
        DisplayUser(data.name, data.score);
    });

    socketio.on("updateQuestions", (data) => {
        // alert(data);
        console.log(data.currentquestion)
        UpdateQuestion(data.currentquestion, data.questions);
    });

    socketio.on("userLeve", (data) => {
        RemoveUser(data.name);
    });

    /// If it breaks Im gonna cry (Why did i do it like that no one knows).j
    socketio.on("changeScore", (data) => {
        document.getElementById(data.name).getElementsByClassName("admin-score")[0].textContent = "Punkte: " + data.score;

        playingUsers = Array.from(users.children);

        playingUsers.sort(function (a, b) {
            let scoreA = parseInt(a.getElementsByClassName("admin-score")[0].textContent.split(": ")[1]);
            let scoreB = parseInt(b.getElementsByClassName("admin-score")[0].textContent.split(": ")[1]);
            return scoreB - scoreA;
        });

        playingUsers.forEach(function (node) {
            users.appendChild(node);
        });

    });
</script>
</div>
{% endblock %}