{% extends 'base.html' %}

{% block content %}
<form method="post" class="create-questions center">
    <h3>Admincode: {{admincode}}</h3>
    <h3>Roomcode: {{usercode}}</h3>
    <div class="edit-questions">
        <textarea name="questions" id="edit-questions">{{questions}}</textarea><br>
        <button name="commit" id="commit">Übernehmen</button>
    </div>

    <div class="quiz-controll">
        <p>Current question: {{currentquestion}}</p>
        <button id="button-prev" name="previous"><<</button>
        <button id="results" name="results">Ergebnis</button>
        <button id="button-next" name="next">>></button>
    </div>
    
    <div class="connected-users center">
        <h2>User im Raum</h2>
        <div class="users" id="users">
            {% for user in users %}
                <div class="user" id="{{user.name}}">
                    <strong>{{user.name}}</strong>
                    <button class="kick-button" name="kick" value="{{user.name}}">Kick</button>
                    {{user.score}}
                </div>
            {% endfor %}
        </div>
    </div>

<script type="text/javascript">
    var socketio = io();

    const users = document.getElementById("users")

    const DisplayUser = (name, score) => {
        const content = `
        <div class="user" id="${name}">
            <strong>${name}</strong>
            <button class="kick-button" name="kick" value="${name}">Kick</button>
            <div class="score">${score}</div>
        </div>
        `;
        
        users.innerHTML += content;
    };

    const RemoveUser = (name) => {
        document.getElementById("name").remove();
    };

    socketio.on("userJoin", (data) => {
        DisplayUser(data.name, data.score);
    });

    socketio.on("userLeve", (data) => {
        RemoveUser(data.name);
    });

    socketio.on("changeScore", (data) => {
        alert(data.name + " " + data.score);
        document.getElementById(data.name).getElementsByClassName("score").innerHTML = data.score;
    });
</script>

    
    {% if error %}
    <ul>
        <li>{{error}}</li>
    </ul>
    {% endif %}
</form>
{% endblock %}