{% extends 'base.html' %}

{% block content %}

<script type="text/javascript">
    var socketio = io();
    var startTime = null;

    // initializes countdown and makes sure the last timeout is terminated
    let countdown = void 0;
    clearInterval(countdown);

    // changes all Text on Website and handles the timers
    const UpdateValues = (data) => {
        buttonDisableTimer(5, false);
        
        var correct = data.correct;
        
        document.getElementById("questionText").innerHTML = data.text;
        
        document.getElementById("Button1").innerHTML = data.btn1;
        document.getElementById("Button2").innerHTML = data.btn2;
        document.getElementById("Button3").innerHTML = data.btn3;
        document.getElementById("Button4").innerHTML = data.btn4;
        
        // waits until first timeout is done timeouting
        // then starts the second timeout
        setTimeout(() =>{
            startTime = buttonDisableTimer(data.time, true);
        }, 5000);

    };

    // Timer Thingy
    const buttonDisableTimer = (timer, state) => {
        // if the question was already solved by the user then don't enable the buttons
        if('{{alreadySolved|tojson}}'){
            return;
        }
        
        timerobj = document.getElementById("timer")
                
        clearInterval(countdown);
        
        changeAllButtonDisabledStates(!state);

        timerobj.innerHTML = timer;

        countdown = window.setInterval(
            () => {
                timer--;
                
                timerobj.innerHTML = timer;
                
                if (timer <= 0) {
                    clearInterval(countdown) // terminates Countdown
                    changeAllButtonDisabledStates(state);
                };
            },
            1000
        );
        return new Date();
    }

    // Button Handler, 
    // yes it's shit, 
    // yes I hate it
    // no I won't change it, change it yourself
    const Answer1 = () => {
        Answer(0);
    }
    const Answer2 = () => {
        Answer(1);
    }
    const Answer3 = () => {
        Answer(2);
    }
    const Answer4 = () => {
        Answer(3);
    }

    // changes the disabled state of all buttons to given state
    const changeAllButtonDisabledStates = (state) =>{
        const buttons = document.getElementsByTagName("button");
        
        for (const button of buttons) {
            button.disabled = state;
        }
    };

    ////////////////////////// Socket Emtters
    
    // Answer Handler
    const Answer = (button) => {
        var now = new Date();
        var seconds = (now.getTime() - startTime.getTime()) / 1000;

        changeAllButtonDisabledStates(true);

        socketio.emit("answer", {buttonPressed: button, timedifference: seconds});
    };

    ////////////////////////// Socket Event Handlers

    socketio.on("updateQuestions", (data) => {
        UpdateValues(data);
    });

</script>

<!-- HTML Template -->
<div class="form quiz">
    <div class="timer">
        <h1 id="timer">0</h1>
    </div>

    <div class="question">
        <h1 id="questionText">{{question.text}}</h1>
    </div>

    <div class="quiz-inputs">
        <div class="row">
            <button class="quiz-button btn btn-success" id="Button1" name="Button1"
                onclick=Answer1() disabled>{{question.btn1}}</button>
            <button class="quiz-button btn btn-danger" id="Button2" name="Button2"
                onclick=Answer2() disabled>{{question.btn2}}</button>
        </div>
        <div class="row">
            <button class="quiz-button btn btn-warning" id="Button3" name="Button3"
                onclick=Answer3() disabled>{{question.btn3}}</button>
            <button class="quiz-button btn btn-info" id="Button4" name="Button4"
                onclick=Answer4() disabled>{{question.btn4}}</button>
        </div>
    </div>
</div>
{% endblock %}