{% extends 'base.html' %}

{% block content %}

<script type="text/javascript">
    var starttime = new Date.now();

    var socketio = io();

    let countdown = void 0;
    clearInterval(countdown);

    const UpdateValues = (data) => {
        clearInterval(countdown);
        var timer = 15;
       
        var correct = data.correct;
        document.getElementById("Button1").disabled = false;
        document.getElementById("Button2").disabled = false;
        document.getElementById("Button3").disabled = false;
        document.getElementById("Button4").disabled = false;


        document.getElementById("questionText").innerHTML = data.text;
        document.getElementById("Button1").innerHTML = data.btn1;
        document.getElementById("Button2").innerHTML = data.btn2;
        document.getElementById("Button3").innerHTML = data.btn3;
        document.getElementById("Button4").innerHTML = data.btn4;


        document.getElementById("timer").innerHTML = timer;

        countdown = window.setInterval(() => {
            timer--;
            document.getElementById("timer").innerHTML = timer;
            if (timer == 0) {
                clearInterval(countdown)
                document.getElementById("Button1").disabled = true;
                document.getElementById("Button2").disabled = true;
                document.getElementById("Button3").disabled = true;
                document.getElementById("Button4").disabled = true;
                // document.getElementById("Button4").innerHTML = data.btn4;
            };
        }, 1000);




    };

    socketio.on("updateQuestions", (data) => {
        UpdateValues(data);
    });

    const Answer1 = () => {
        Answer(0);
    }
    const Answer2 = () => {
        Answer(1);
    }
    const Answer3 = () => {
        Answer(2);
    }
    const Answer4 = () => {
        Answer(3);
    }

    const Answer = (button) => {
        var currenttime = new Date.now();

        document.getElementById("Button1").disabled = true;
        document.getElementById("Button2").disabled = true;
        document.getElementById("Button3").disabled = true;
        document.getElementById("Button4").disabled = true;

        socketio.emit("answer", {buttonPressed: button, timedifference: (currenttime - starttime)});
    };



</script>

<form class="quiz">
    <div class="timer">
        <h1 id="timer">{{timer}}</h1>
    </div>

    <div class="question">
        <h1 id="questionText">{{question.text}}</h1>
    </div>

    <!-- <div class="answer">
        <h1 id="answer">{{question.text}}</h1>
    </div> -->


    <div class="quiz-inputs">
        <div class="row">
            <button class="quiz-button btn btn-success" id="Button1" name="Button1"
                onclick=Answer1()>{{question.btn1}}</button>
            <button class="quiz-button btn btn-danger" id="Button2" name="Button2"
                onclick=Answer2()>{{question.btn2}}</button>
        </div>
        <div class="row">
            <button class="quiz-button btn btn-warning" id="Button3" name="Button3"
                onclick=Answer3()>{{question.btn3}}</button>
            <button class="quiz-button btn btn-info" id="Button4" name="Button4"
                onclick=Answer4()>{{question.btn4}}</button>
        </div>
    </div>
</form>
{% endblock %}